.idea
.git
magedock/nginx/logs/access.log
magedock/nginx/logs/error.log
site/.buildpath
site/.cache
site/.metadata
site/.project
site/.settings
site/.vscode
atlassian*
site/nbproject
site/robots.txt
site/pub/robots.txt
site/sitemap
site/sitemap.xml
site/pub/sitemap
site/pub/sitemap.xml
/.gitattributes
site/app/config_sandbox
site/app/etc/config.php
site/app/etc/env.php
site/app/code/Magento/TestModule*
site/lib/internal/flex/uploader/.actionScriptProperties
site/lib/internal/flex/uploader/.flexProperties
site/lib/internal/flex/uploader/.project
site/lib/internal/flex/uploader/.settings
site/lib/internal/flex/varien/.actionScriptProperties
site/lib/internal/flex/varien/.flexLibProperties
site/lib/internal/flex/varien/.project
site/lib/internal/flex/varien/.settings
site/node_modules
site/.grunt
site/Gruntfile.js
site/package.json
site/.php_cs
site/.php_cs.cache
site/grunt-config.json
site/pub/media/*.*
!site/pub/media/.htaccess
site/pub/media/attribute/*
!site/pub/media/attribute/.htaccess
site/pub/media/analytics/*
site/pub/media/catalog/*
!site/pub/media/catalog/.htaccess
site/pub/media/customer/*
!site/pub/media/customer/.htaccess
site/pub/media/downloadable/*
!site/pub/media/downloadable/.htaccess
site/pub/media/favicon/*
site/pub/media/import/*
!site/pub/media/import/.htaccess
site/pub/media/logo/*
site/pub/media/custom_options/*
!site/pub/media/custom_options/.htaccess
site/pub/media/theme/*
site/pub/media/theme_customization/*
!site/pub/media/theme_customization/.htaccess
site/pub/media/wysiwyg/*
!site/pub/media/wysiwyg/.htaccess
site/pub/media/tmp/*
!site/pub/media/tmp/.htaccess
site/pub/media/captcha/*
site/pub/media/sitemap/*
!/pub/media/sitemap/.htaccess
site/pub/static/*
!site/pub/static/.htaccess

site/var/*
!site/var/.htaccess
site/vendor/*
!site/vendor/.htaccess
site/generated/*
!site/generated/.htaccess
.DS_Store
read-me.txt
